name: derepG_ci

on: [push, pull_request]


jobs:
  derepG_ci:
    name: derepG_ci
    runs-on: 'ubuntu-latest'
    if: "!contains(github.event.head_commit.message, '[skip_ci]')"
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v1
        with:
          python-version: 3.7
          mamba-version: "*"
          channels: conda-forge,bioconda,defaults
          channel-priority: true
          environment-file: environment.yml
          activate-environment: derepG
      - name: Lint with flake8
        shell: bash -l {0}
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Test with pytest
        shell: bash -l {0}
        run: |
          pip install -e .
          pip install pytest pytest-cov
          pytest
      - name: Check derepG help message
        shell: bash -l {0}
        run: |
          derepG --help